/* Fonts */

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Regular.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Bold.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Battleship */

:root {
  --red-400: #ef5350;
  --blue-400: #42a5f5;
  --gray-100: #f5f5f5;
  --gray-400: #bdbdbd;
  --gray-900: #212121;
  --white: #fff;
}

body {
  font-family:
    Inclusive Sans,
    Arial,
    Helvetica,
    sans-serif;
  color: var(--gray-900);
  background: var(--gray-100);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
}

h1,
button {
  line-height: 1;
}

button {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

main {
  padding: 20px 40px 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gameboard-container {
  display: flex;
  gap: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.ship-grid,
.attack-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 402px;
  border: 1px solid var(--gray-900);
}

.attack-grid.block::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
}

.ship,
.sea {
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray-900);
}

.ship {
  background: var(--gray-400);
}

.sea {
  background: var(--blue-400);
}

.ship.hit,
.sea.hit {
  background: var(--red-400);
}

.sea.miss {
  background: var(--white);
}

.hidden {
  display: none;
}
